name: Run dbt

on:
  workflow_dispatch: # Allow manual triggering

jobs:
  run-dbt:
    name: Run dbt
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements/all.txt

      - name: Preprocess events (add skill levels)
        run: make add-skill-levels
        env:
          PG_DSN: ${{ secrets.PG_DSN }}
          PG_SCHEMA: ${{ secrets.PG_SCHEMA }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}

      - name: Install dbt package dependencies
        run: python3 -m scripts.run_dbt deps
        env:
          PG_SCHEMA: ${{ secrets.PG_SCHEMA }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}

      - name: Run dbt
        run: python3 -m scripts.run_dbt run --target prod
        env:
          PG_SCHEMA: ${{ secrets.PG_SCHEMA }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_NAME: ${{ secrets.DB_NAME }}
